@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply flex justify-center items-center gap-1 py-1 px-2 h-7 rounded transition-colors;
  }

  .default {
    @apply border border-zinc-200 bg-zinc-200 text-zinc-800;
  }

  .default:hover {
    @apply border-zinc-300 bg-zinc-300 text-zinc-800;
  }

  .primary {
    @apply border border-indigo-600 bg-indigo-600 text-white;
  }

  .primary:hover {
    @apply border-indigo-800 bg-indigo-800;
  }

  .secondary {
    @apply border border-zinc-500 bg-zinc-500 text-white;
  }

  .secondary:hover {
    @apply border-zinc-600 bg-zinc-600;
  }

  .success {
    @apply border border-emerald-600 bg-emerald-600 text-white;
  }

  .success:hover {
    @apply border-emerald-800 bg-emerald-800 text-white;
  }

  .info {
    @apply border border-sky-600 bg-sky-600 text-white;
  }

  .info:hover {
    @apply border-sky-800 bg-sky-800 text-white;
  }

  .warning {
    @apply border border-amber-400 bg-amber-400 text-white;
  }

  .warning:hover {
    @apply border-amber-500 bg-amber-500 text-white;
  }

  .danger {
    @apply border border-rose-600 bg-rose-600 text-white;
  }

  .danger:hover {
    @apply border-rose-800 bg-rose-800 text-white;
  }

  .dark-btn {
    @apply border border-zinc-700 bg-zinc-700 text-white;
  }

  .dark-btn:hover {
    @apply border-zinc-900 bg-zinc-900 text-white;
  }

  .disabled,
  .disabled:hover {
    @apply opacity-50 cursor-not-allowed;
  }

  .outline-primary {
    @apply border border-indigo-600 text-indigo-600;
  }

  .outline-primary:hover {
    @apply bg-indigo-600 text-white;
  }

  .outline-secondary {
    @apply border border-zinc-500 text-zinc-500;
  }

  .outline-secondary:hover {
    @apply bg-zinc-500 text-white;
  }

  .outline-success {
    @apply border border-emerald-600 text-emerald-600;
  }

  .outline-success:hover {
    @apply bg-emerald-600 text-white;
  }

  .outline-info {
    @apply border border-sky-600 text-sky-600;
  }

  .outline-info:hover {
    @apply bg-sky-600 text-white;
  }

  .outline-warning {
    @apply border border-amber-400 text-amber-400;
  }

  .outline-warning:hover {
    @apply border-amber-500 bg-amber-500 text-white;
  }

  .outline-danger {
    @apply border border-rose-600 text-rose-600;
  }

  .outline-danger:hover {
    @apply bg-rose-600 text-white;
  }

  .outline-dark-btn {
    @apply border border-zinc-700 text-zinc-700;
  }

  .outline-dark-btn:hover {
    @apply bg-zinc-700 text-white;
  }
}

.modal-enter {
  opacity: 0;
}
.modal-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.modal-exit {
  opacity: 1;
}
.modal-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}

.toggle-bg::after {
  content: '';
  @apply absolute top-0.5 bg-amber-300 border border-amber-300 transition-transform shadow rounded-full h-5 w-5;
}

input:checked + .toggle-bg::after {
  transform: translateX(85%);
  @apply bg-indigo-600 border-indigo-600;
}
